# Configuración PostgreSQL (Autenticación)
DB_PG_HOST=127.0.0.1
DB_PG_PORT=5432
DB_PG_USER=usuario_pg
DB_PG_PASS=password_pg
DB_PG_NAME=auth_db

# Configuración SQL Server (SIGH Clínico)
DB_SQLSERVER_HOST=192.168.1.100
DB_SQLSERVER_USER=usuario_sql
DB_SQLSERVER_PASS=password_sql
DB_SQLSERVER_NAME=Sql_db